# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Face data / biometric data
 data/known_faces/*
!data/known_faces/.gitkeep
outputs/*
!outputs/.gitkeep
*.npy
*.npz
*.pkl
*.pickle

# Model/cache files
models/
.cache/
insightface/
